<h1>Foosball</h1>

{{#if session.isAuthenticated}}
  <ul>
    <li>{{link-to 'Matches' 'matches'}}</li>
    <li>{{link-to 'Players' 'players'}}</li>
  </ul>
{{else}}
  {{login-form}}
{{/if}}

{{outlet}}
